<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424675050130-ntppm2ht7ch8qrdd3rrmajpl9aas18bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424675050130-ntppm2ht7ch8qrdd3rrmajpl9aas18bv</string>
	<key>API_KEY</key>
	<string>AIzaSyCUDz1bPfyiA25BmvjjzP6rUgbWeIdj-XY</string>
	<key>GCM_SENDER_ID</key>
	<string>424675050130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RJT.EWSN.com</string>
	<key>PROJECT_ID</key>
	<string>ewsn-8bdde</string>
	<key>STORAGE_BUCKET</key>
	<string>ewsn-8bdde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424675050130:ios:96f993f6df9a10c4</string>
	<key>DATABASE_URL</key>
	<string>https://ewsn-8bdde.firebaseio.com</string>
</dict>
</plist>